.commons--frame--global {
  $this: &;

  height: 100%;
  overflow-y: scroll;

  &#{$this}--has-modal {
    overflow-y: hidden;

    // TODO: 多分破綻するので経過観察
    > *:not(:last-child) {
      filter: blur(2px);
    }
  }
}