.commons--form--labeled-field-row {
  margin: $SPACE_BASE_VERTICAL 0;
  display: flex;

  & > &__label {
    flex: 1;

    > label {
      display: inline-block;
      padding-right: $SPACE_BASE_HORIZONTAL;
    }
  }

  & > &__field {
    flex: 3;
  }
}
