$CSS_ROOT: 'commons--frame--Layered-Sliding-Panes';

.#{$CSS_ROOT} {
  min-height: 100%;
  position: relative;
  
  > div {
    position: absolute;
    top: 0;
    right: 100%;
    width: 50%;
    height: 100%;

    // 確認用
    background: #fff;

    transition: left 300ms ease-out;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: #333;
      opacity: 0.5;
      transition: opacity 300ms ease-out;
    }

    &.parent,
    &.child,
    &.child ~ div {
      &::before {
        width: 0;
        opacity: 0;
      }
    }

    &.parent {
      left: 0;
      width: 50%;
    }

    &.child {
      left: 50%;
      width: 50%;
      
      &:first-child {
        left: 0;
        width: 100%;
      }

      &.transition-enter {
        left: 100%;
      }
    }
    
    &.child ~ div {
      left: 100%;
    }
    
    &.before-parent {
      left: 0;
      width: 100%;
    }

    &.before-parent + .parent {
      left: 10%;
      width: 45%;
    }

    &.before-parent + .parent + .child {
      left: 55%;
      width: 45%;

      &.transition-enter {
        left: 100%;
      }
    }
  }
}