.commons--elements--table {
  $this: &;

  // FIXME: 少数点以下のせいか、表示が微妙に意図と異なる…
  // $vertical-padding: (($SPACE_BASE_VERTICAL * 3 / 2) - $SPACE_BASE_VERTICAL) / 2;
  $vertical-padding: $SPACE_BASE_VERTICAL / 2;

  border-collapse: separate;
  border-spacing: 0;
  box-shadow: $BOX_SHADOW_STANDARD;

  // TODO: 経過観察
  margin: $vertical-padding 0;

  > thead,
  > tbody,
  > tfoot {
    > tr > th,
    > tr > td {
      border-top: solid 0.1rem $COLOR-BORDER-PRIMARY;
      padding: $vertical-padding ($SPACE_BASE_HORIZONTAL / 2) $vertical-padding - 0.1rem;

      &:first-child { padding-left: $SPACE_BASE_HORIZONTAL; }
      &:last-child { padding-right: $SPACE_BASE_HORIZONTAL; }
    }

    > tr#{$this}__tr--checked {
      background: $COLOR_SECONDARY_LIGHT;
    }
  }

  //button, input {display: none;}
}