$FONT_FAMILY: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

$FONT_SIZE_REM_BASE_FOR_HTML_ELEMENT: 10px;

$FONT_SIZE_STANDARD: 1.4rem;
$LINE_HEIGHT_STANDARD: 2.2rem;

$LINE_HEIGHT_BASE: $LINE_HEIGHT_STANDARD / $FONT_SIZE_STANDARD;

$FONT_SIZE_EXTRA_LARGE: 2.2rem;
$LINE_HEIGHT_FOR_EXTRA_LARGE: $LINE_HEIGHT_STANDARD * 2 / $FONT_SIZE_EXTRA_LARGE;
